.categories {
    display: flex;
    overflow-x: auto;
    padding: 1rem 2rem;
    white-space: nowrap;
  }
  
  .category-button {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 20px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
  }
  
  .category-button:hover {
    background-color: #ff385c;
    color: white;
  }
  