.footer {
    text-align: center;
    padding: 20px;
    background-color: #f7f7f7;
  }
  
  .footer p {
    font-size: 14px;
  }
  
  .footer-links {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
  
  .footer-links li {
    list-style: none;
    font-size: 14px;
    cursor: pointer;
  }
  